* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
    

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.registration-container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.registration-box {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #efc3bc;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #f41f17;
}

/* Media Queries */
@media (max-width: 600px) {
    .registration-box {
        padding: 20px;
    }

    input, button {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .registration-box {
        padding: 15px;
    }

    input, button {
        font-size: 12px;
    }
}